@use "@/styles/main.scss";

.crumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  button[type=button] {
    background: transparent;
    border: none;
    transition: ease 0.25s;
    transition-property: color, background-color, transform;
    will-change: color, background-color, transform;
    cursor: pointer;

    &:not(:disabled):active {
      transform: scale(0.95);
    }

    &:disabled {
      color: rgba(0 0 0 / 10%);
      cursor: not-allowed;
    }
  }

  &_title {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    height: 28px;
    color: var(--text-700);
    border-radius: 4px;
    padding: 0 6px;

    &:not(:disabled):hover {
      color: var(--accent-color-500);
      background: rgba(0 0 0 / 5%);
    }
  }

  &_divider {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tone-600);
    padding: 0 4px;

    &:hover {
      color: var(--accent-color-500);
    }
  }

  &_nesting {
    position: absolute;
    min-width: 100%;
    top: calc(100% + 4px);
    left: 0;
  }
}
