@use "@/styles/main.scss";
@use "@/styles/mixins.scss";

.radio {
  @include mixins.fixed-size(24px);
  padding: 0 !important;
  border-radius: 50% !important;
  appearance: none;
  cursor: pointer;

  &:checked {
    background: var(--tone-200);
    border-width: 8px;
  }

  &:not(:disabled):checked {
    border-color: var(--accent-500);
  }

  &:disabled + * {
    color: var(--text-400);
    cursor: not-allowed;
  }
}
