@use "@/styles/main.scss";

.counter {
  position: relative;
  display: inline-block;

  &_input {
    width: 100%;
    padding-right: calc(var(--field-control-width) + 4px) !important;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &_control {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    flex-direction: column;


    button[type=button] {
      $corner-radius: calc(var(--corner-radius) * 0.8);

      &:nth-child(1) {
        border-radius: $corner-radius $corner-radius 0 0;
      }

      &:nth-child(2) {
        border-radius: 0 0 $corner-radius $corner-radius;
      }

      &:nth-child(1) {
        border-bottom: 1px solid var(--tone-500);
      }

      &:focus-visible {
        border: 1px solid var(--accent-color-500);
      }
    }
  }
}
