@use "@/styles/main.scss";

.input {
  height: 48px;
  background: rgba(0 0 0 / 5%);
  border: none;
  border-radius: 8px;
  padding: 0 16px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}
