@use "@/styles/main.scss";

.input {
  height: 46px;
  background: var(--tone-400);
  border: 1px solid transparent;
  border-radius: var(--radius-01);
  color: var(--text-700);
  padding: 0 16px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;

  &::placeholder {
    color: var(--text-400);
  }

  &:not(:disabled):hover {
    border-color: var(--accent-color-500);
  }

  &:not(:disabled):focus {
    outline: 4px solid var(--accent-color-200);
    border-color: var(--accent-color-500);
  }

  &:disabled {
    background: var(--tone-500);
    color: var(--text-400);
    cursor: not-allowed;
  }
}
