.stackLayout {
  $self: &;

  --stack-gap: 16px;


  display: flex;
  gap: var(--stack-gap);


  &-horizontal {
    flex-direction: row;

    #{$self+'-start'} {
      align-items: flex-start
    }

    #{$self+'-middle'} {
      align-items: center
    }

    #{$self+'-end'} {
      align-items: flex-end
    }
  }

  &-vertical {
    flex-direction: column;
  }
}
