:root {
  --blue-100: #e4e8ff;
  --blue-200: #c5ceff;
  --blue-300: #a1b1ff;
  --blue-400: #738eff;
  --blue-500: #1160ff;
  --blue-600: #0f55e4;
  --blue-700: #0d4ac5;
  --blue-800: #0a3ca1;
  --blue-900: #072a72;

  --red-100: #fae7e6;
  --red-200: #f6cdca;
  --red-300: #f1b0aa;
  --red-400: #ec8c82;
  --red-500: #e85c48;
  --red-600: #cf5240;
  --red-700: #b34737;
  --red-800: #923a2d;
  --red-900: #672920;

  --green-100: #e7fae6;
  --green-200: #cdf6ca;
  --green-300: #aff1aa;
  --green-400: #8bec82;
  --green-500: #5ae848;
  --green-600: #50cf40;
  --green-700: #45b337;
  --green-800: #38922d;
  --green-900: #286720;

  --yellow-100: #fef8e4;
  --yellow-200: #fcf0c6;
  --yellow-300: #fbe8a1;
  --yellow-400: #f9e072;
  --yellow-500: #f8d700;
  --yellow-600: #dec000;
  --yellow-700: #c0a700;
  --yellow-800: #9d8800;
  --yellow-900: #6f6000;

  --tone-100: #ffffff;
  --tone-200: #f1f1f1;
  --tone-300: #e9e9e9;
  --tone-400: #e1e1e1;
  --tone-500: #d9d9d9;
  --tone-600: #c2c2c2;
  --tone-700: #a8a8a8;
  --tone-800: #898989;
  --tone-900: #616161;

  --text-100: #f6f6f6;
  --text-200: #ebebeb;
  --text-300: #d1d1d1;
  --text-400: #b7b7b7;
  --text-500: #1a1a1a;
  --text-600: #171717;
  --text-700: #141414;
  --text-800: #101010;
  --text-900: #0c0c0c;

  --accent-100: var(--blue-100);
  --accent-200: var(--blue-200);
  --accent-300: var(--blue-300);
  --accent-400: var(--blue-400);
  --accent-500: var(--blue-500);
  --accent-600: var(--blue-600);
  --accent-700: var(--blue-700);
  --accent-800: var(--blue-800);
  --accent-900: var(--blue-900);

  --shadow-01: 0 0 12px -6px var(--tone-700);
  --corner-radius: 8px;
  --transition-style: ease;
  --transition-duration: 0.25s;
}
