@use "@/styles/main.scss";

.checkbox {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  color: var(--text-200);
  user-select: none;
  cursor: pointer;
  overflow: hidden;

  &_input {
    width: inherit !important;
    height: inherit !important;
    padding: 0 !important;
    border-color: var(--accent-color-500);
    border-radius: calc(var(--radius-01) * 0.6) !important;
    transition: ease 0.25s;
    transition-property: border-color, background-color;
    will-change: border-color, background-color;
    appearance: none;

    &:checked {
      background: var(--accent-color-500);
    }

    &:checked:disabled {
      background: var(--tone-600);
    }

    &:disabled {
      border-color: var(--tone-600);
    }
  }

  &_checkmark {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: ease 0.25s;
    transition-property: top, opacity;
    will-change: top, opacity;
  }

  &_input:checked + &_checkmark {
    top: 50%;
    opacity: 1;
  }
}
