@use "@/styles/main.scss";

.checkbox {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  color: var(--text-200);
  user-select: none;
  cursor: pointer;

  &_input {
    width: inherit !important;
    height: inherit !important;
    border-color: var(--color-blue-500) !important;
    border-radius: calc(var(--radius-01) * 0.6) !important;
    padding: 0 !important;
    transition: ease 0.25s;
    transition-property: border-color, background-color;
    will-change: border-color, background-color;
    appearance: none;
    cursor: pointer;

    &:checked {
      background: var(--accent-color-500);
    }

    &:checked:disabled {
      background: var(--tone-600);
    }

    &:disabled {
      border-color: var(--tone-600) !important;
    }
  }

  &_checkmark {
    width: 16px;
    height: 12px;
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 8px);
    transform: scale(0);
    transform-origin: center;
    opacity: 0;
    pointer-events: none;
    transition: ease 0.25s;
    transition-property: transform, opacity;
    will-change: transform, opacity;
  }

  &_input:checked + &_checkmark {
    opacity: 1;
    transform: scale(1);
  }
}
